<div class="relative flex px-4 py-3">
    <div class="h-10 w-10 rounded flex-shrink-0 bg-slate-300"></div>
        <div class="ml-2">
            <div class="-mt-1">
                <.link class="text-sm font-semibold hover:underline">
                <span>User</span>
            </.link>
            <p class="text-sm"><%= @message.body %></p>
        </div>
    </div>
</div>
